@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lemon&display=swap');

:root {
    --roxo-fundo: #2D1B4C;
    --roxo-neon: #A259FF;
    --rosa-neon: #FF4F87;
    --azul-escuro: #1A1F71;
    --laranja-claro: #FF862A;
    --cinza-claro: #F1EDEF;
    --alto-contraste-fundo: #000000;
    --alto-contraste-texto: #ffffff;
    --alto-contraste-link: #ffd700;
}

header{
    background-color: var(--roxo-fundo) ;
}

.seção.new.wave {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 2rem; /* Espaço entre imagem e texto */
    flex-wrap: wrap; /* Garante responsividade em telas menores */
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.3);
}

/* Controla o tamanho da imagem */
.seção.new.wave img {
    width: 100%;
    max-width: 400px; /* Tamanho máximo da imagem */
    height: auto;
    border-radius: 8px;
}

/* Estilo do texto */
.seção.new.wave .explicacao {
    font-size: 1rem;
    line-height: 1.6;
    color: #333;
    max-width: 500px;}

    .img-inicio {
        border-radius: 8px;
        box-shadow: 0 0 10px rgba(0,0,0,0.3);
    }
    
    .botao-inicio {
        transition: all 0.3s ease-in-out;
    }
    
    .botao-inicio:hover {
        transform: scale(1.05);
    }

    #galeria img {
        max-height: 300px;
        object-fit: cover;
        width: 100%;
      }

      body {
        font-size: 1rem;
        font-family: 'Montserrat';
    }

    section {
        padding-bottom: 5rem;
    }
    